{:schema "etzhayyim.migration/v1"
 :source {:repository "etzhayyim/root" :revision "6fd297f38fe1b547e1d4c15ead9941c6ebaa3b31" :path "60-apps/etzhayyim-project-hospitality" :tree "07f897493783603b9ed2e7cea49949864da2a586" :tracked-files 16 :bytes 216114}
 :destination {:repository "etzhayyim/com-etzhayyim-app-hospitality"}
 :identity {:allowed-additions ["README.edn" "migration.edn"]}}
